extends layout

block content
  body
    form(action='/auth/login?redirectToTodos=true', method='POST')
      p
        | username:
        input(type='text', name='username', value='tom@a.com')
        |          <br/>password:
        input(type='password', name='password', value='password')
      input(type='submit', value='Submit')